<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script type="text/javascript" src="/static/script.js"></script>
		<link rel="stylesheet" href="/static/main.css">
	</head>

	<body>
		<h1> Guess the Upvotes </h1>
		<div class="left-container">
			<h1>Comment</h1>
			<div class="comment">
				{% autoescape off %}
				{{ listing.comment }}
				{% endautoescape %}
			</div>

			<div class='guess'>
				<input id="input" type="text" name="prediction" class="form-control" placeholder="Predict a score">
				<button type="button" class="btn"> Go! </button>
			</div>
		</div>

		<div class="right-container">
			<div class='result'>
			</div>
		</div>

	</body>
</html>